<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="style/head_foot_img/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <main>
      <header>
        <div class="navbar">
            <img src="headerlogo.png" alt="GGSIPU" class="logo">
            <h1 class="heading">IPU Forum</h1>
            <ul class="content">
                <li><a href="/question">Submission</a></li>
                <li><a href="#">Archive</a></li>
                <li><a href="/dashboard ">Your Profile</a></li>
                <li><a href="/">logout</a></li>
                <li><div id="searchBox">
                  <div>
                    <form id="cse-search-box">
                      <input type="text" class="tftextinput2" size="20" maxlength="20" placeholder="Search links" onkeyup="showResult(this.value)">
        
                    </form>
                    <div id="wrapper" class="force-overflow" style="display:none">
                    </div>
                  </div>
                </div>
              </li>
            </ul>

          </div>
          
        </header>
  
      </main>
  </body> 
