<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>welcome</h1>
    <p>post question?</p><a href="/question">click here</a>
    <h1>Dashboard</h1>
    <ul>
        <% questions.forEach(question => { %>
          <li>
            <h2><%= question.title %></h2>
            <p><%= question.content %></p>
            <a href="/:questionId/answer">Reply</a>
          </li>
        <% }); %>
      </ul>
  
    
</body>
</html>