<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/" method="post">
        <label for="usernameLogin">username:</label>
        <input type="text" name="usernameLogin" id="username" required><br>
        <label for="passwordLogin">Password</label>
        <input type="text" name="passwordLogin" id="password" required><br>
        <button type="submit">login</button>
    </form>
    <p>Don't have account?</p><a href="/sign-up">sign-up</a>

    
</body>
</html>